main,
footer {
  button {
    padding: 20px 35px;
    margin: 30px auto;
    background: $white1;
    color: $black1;
    border: 2px solid $black1;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;
    @include title;
    &:hover {
      background: rgba(84, 219, 219, 0.822);
      transform: scale(1.1);
    }
  }
}
