header {
  min-height: 100vh;
  position: relative;
  color: $white1;

  .header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;

    @keyframes headerAnim {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  button {
    padding: 25px 29px;
    border-radius: 1000px;
    border: 1px solid $white1;
    color: $white1;
    background: transparent;
    transition: 0.2s;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
      background: rgba(216, 255, 255, 0.822);
      transform: scale(1.1);
    }
  }
  h1 {
    font-size: 4rem;
    @include title;
    letter-spacing: 7px;
  }
  p {
    margin: 40px auto 60px;
    font-style: italic;
    font-size: 1.3rem;
    max-width: 85%;
  }

  @media screen and (max-width: 1335px) {
    p {
      font-size: 1rem;
    }
    button {
      font-size: 0.9rem;
      padding: 20px 23px;
    }
  }
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.3rem;
    }
  }
}
