main {
  background: $white1;
  margin: 0 auto;
  width: 85%;
  .time {
    position: relative;
    padding: 70px 0;
    font-size: 1.3rem;
    font-family: $font2;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      background: $grey1;
      width: 30%;

      @media screen and (max-width: 900px) {
        width: 25%;
      }
      @media screen and (max-width: 650px) {
        width: 20%;
      }
      @media screen and (max-width: 450px) {
        width: 15%;
      }
    }
    &::before {
      left: 10%;
    }
    &::after {
      right: 10%;
    }
  }
  button {
    padding: 20px 35px;
    margin: 40px auto;
    background: $white1;
    color: $black1;
    border: 2px solid $black1;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;
    @include title;
    &:hover {
      background: rgba(84, 219, 219, 0.822);
      transform: scale(1.1);
    }
  }
  .main-container {
    width: 50%;
    margin: 0 auto;
    h2 {
      @include title;
      font-size: 3rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 35px;
      padding: 50px 0;
      font-style: italic;
    }
  }

  .imgMain {
    background: url(/assets/images/pic01.jpg) center/cover;
    width: 80%;
    margin: 0 auto;
    height: 750px;

    @media screen and (max-width: 1000px) {
      height: 400px;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
      height: 300px;
    }
  }

  section {
    display: flex;
    min-height: 500px;
    box-shadow: inset 0px 1px 0px $grey1;
  }

  .section-right,
  .section-left {
    width: 100%;
    padding: 50px;
    box-shadow: inset 1px 0px 0px $grey1;

    @media screen and (max-width: 480px) {
      padding: 18px;
    }
    .section-time {
      padding: 20px 0;
      font-family: $font2;
    }
    .h3-container {
      margin: 0 auto;
      h3 {
        @include title;
        font-size: 1.6rem;
        line-height: 30px;
      }
    }
    .img-left {
      background: url(/assets/images/pic02.jpg) center/cover;
      height: 350px;
      margin: 25px 0;
    }
    .img-right {
      background: url(/assets/images/pic03.jpg) center/cover;
      height: 350px;
      margin: 25px 0;
    }
    p {
      font-size: 1.1rem;
      text-align: left;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 1000px) {
    section {
      display: block;
    }
  }
  @media screen and (max-width: 900px) {
    .main-container {
      width: 80%;

      h2 {
        font-size: 2.5rem;
      }
    }
  }
}