nav {
  width: 100%;
  height: 85px;
  margin: 0 auto;
  color: $white1;
  background-color: rgba(255, 255, 255, 0.26);
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;

  .pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    li {
      font-size: 1rem;
      list-style: none;
      text-transform: uppercase;
      font-family: $font1;
      padding: 0 25px;
      letter-spacing: 2px;
    }
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    i {
      color: $white1;
      transition: 0.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
    li {
      list-style: none;
    }
  }

  @media screen and (max-width: 1335px) {
    display: grid;
    grid-template-columns: 100% 0;
    .pages li {
      font-size: 0.8rem;
    }
    .icons li {
      display: none;
      //  font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 600px) {
    .pages li {
      font-size: 0.7rem;
      padding: 0 10px;
    }
  }
}
