nav {
  width: 85%;
  height: 75px;
  margin: 0 auto;
  color: $white1;
  background-color: rgba(255, 255, 255, 0.26);
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 600px) {
    grid-template-columns: 100% 0;
  }
  .pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    &:hover li:not(:hover) {
      background: none;
      color: $white1;
    }

    li {
      @include title;
      font-size: 0.8rem;
      padding: 0 15px;
      height: 100%;
      display: flex;
      text-align: center;
      cursor: pointer;

      &:first-child {
        background: $white1;
        color: $black1;
      }
      &:hover {
        background: $white1;
        color: $black1;
      }
      @media screen and (max-width: 1335px) {
        font-size: 0.7rem;
      }
      @media screen and (max-width: 600px) {
        padding: 0 5px;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    min-width: 100px;
    i {
      color: $white1;
      transition: 0.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
    li {
      list-style: none;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}
