@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merriweather";
  src: url(/assets/fonts/Merriweather-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: rgb(243, 243, 243);
}

body {
  background: url(/assets/images/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: merriweather, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
body:before {
  content: "";
  position: absolute;
  background: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  -webkit-animation: animeBefore 1.5s ease forwards;
          animation: animeBefore 1.5s ease forwards;
}
@-webkit-keyframes animeBefore {
  to {
    opacity: 0;
  }
}
@keyframes animeBefore {
  to {
    opacity: 0;
  }
}

header {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(243, 243, 243);
}
header button {
  padding: 25px 29px;
  border-radius: 1000px;
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1.3rem;
  cursor: pointer;
}
header button:hover {
  background: rgba(216, 255, 255, 0.822);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header h1 {
  font-size: 5.6rem;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  max-width: 80%;
}
header p {
  margin: 80px 0;
  font-size: 1.3rem;
  max-width: 80%;
}
@media screen and (max-width: 1335px) {
  header h1 {
    font-size: 4rem;
  }
  header p {
    font-size: 1rem;
  }
  header button {
    font-size: 0.9rem;
    padding: 20px 23px;
  }
}
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 2.3rem;
  }
}

nav {
  width: 100%;
  height: 85px;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  background-color: rgba(255, 255, 255, 0.26);
  display: grid;
  grid-template-columns: 70% 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}
nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav .pages li {
  font-size: 1rem;
  list-style: none;
  text-transform: uppercase;
  font-family: inter, sans-serif;
  padding: 0 25px;
  letter-spacing: 2px;
}
nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.6rem;
}
nav .icons i {
  color: rgb(243, 243, 243);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .icons i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
nav .icons li {
  list-style: none;
}
@media screen and (max-width: 1335px) {
  nav {
    display: grid;
    grid-template-columns: 100% 0;
  }
  nav .pages li {
    font-size: 0.8rem;
  }
  nav .icons li {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .pages li {
    font-size: 0.7rem;
    padding: 0 10px;
  }
}

main {
  background: rgb(243, 243, 243);
  margin: 0 auto;
}
main .time {
  position: relative;
  padding: 70px 0;
  font-size: 1.3rem;
  font-family: merriweather, sans-serif;
}
main .time::before {
  content: "";
  position: absolute;
  left: 8%;
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
  height: 2px;
  background: rgba(94, 94, 94, 0.144);
  width: 30%;
}
main .time::after {
  content: "";
  position: absolute;
  right: 8%;
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
  height: 2px;
  background: rgba(94, 94, 94, 0.144);
  width: 30%;
}
main .main-container {
  width: 50%;
  margin: 0 auto;
}
main .main-container h2 {
  font-size: 3.5rem;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
main .main-container p {
  font-size: 1rem;
  line-height: 35px;
  padding: 50px 0;
}
main .imgMain {
  background: url(/assets/images/pic01.jpg) center/cover;
  width: 80%;
  margin: 20px auto;
  height: 750px;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.153);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.153);
}
main .section-right,
main .section-left {
  width: 100%;
  padding: 50px 80px;
  -webkit-box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.153);
          box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.153);
}
main .section-right .section-time,
main .section-left .section-time {
  padding: 20px 0;
  font-family: merriweather, sans-serif;
}
main .section-right .img-left,
main .section-left .img-left {
  background: url(/assets/images/pic02.jpg) center/cover;
  height: 350px;
  margin: 25px 0;
}
main .section-right .img-right,
main .section-left .img-right {
  background: url(/assets/images/pic03.jpg) center/cover;
  height: 350px;
  margin: 25px 0;
}
main .section-right p,
main .section-left p {
  font-size: 1.1rem;
  text-align: left;
  line-height: 35px;
}
main .section-right .h3-container,
main .section-left .h3-container {
  width: 65%;
  margin: 0 auto;
}
main .section-right .h3-container h3,
main .section-left .h3-container h3 {
  font-family: inter, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 40px;
}
@media screen and (max-width: 1335px) {
  main .main-container h2 {
    font-size: 3rem;
  }
  main .imgMain {
    height: 600px;
  }
  main section {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  main .main-container {
    width: 80%;
  }
  main .main-container h2 {
    font-size: 2.5rem;
  }
}
footer {
  background: rgb(233, 233, 233);
  min-height: 400px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer {
  width: 100%;
}
footer .infos {
  -webkit-box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.153);
          box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.153);
  height: 100%;
}
footer .info {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.153);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.153);
  font-size: 1.2rem;
}
footer .info h4 {
  color: rgb(105, 105, 105);
  margin: 0 75px 0 25px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: inter, sans-serif;
  letter-spacing: 1px;
  padding: 90px 20px;
}
footer .info address {
  color: rgb(105, 105, 105);
  text-align: start;
}
footer .info a {
  color: rgb(105, 105, 105);
  text-align: start;
}
footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40%;
  font-size: 1.2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .info ul li {
  margin: 0 5px;
}
footer .info ul i {
  color: rgb(17, 17, 17);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 200px;
  padding: 15px;
}
footer .info ul i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 1335px) {
  footer {
    display: block;
  }
  footer .info {
    font-size: 1.1rem;
  }
  footer .info h4 {
    margin: 0 45px 0 15px;
  }
  footer .info ul {
    font-size: 1rem;
  }
  footer .info ul i {
    padding: 12px;
  }
}

main button,
footer button {
  padding: 20px 35px;
  margin: 30px auto;
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
  border: 2px solid rgb(17, 17, 17);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main button:hover,
footer button:hover {
  background: rgba(84, 219, 219, 0.822);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
form label {
  text-align: left;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9rem;
  font-family: inter, sans-serif;
  color: rgb(105, 105, 105);
  text-transform: uppercase;
  letter-spacing: 2px;
}
form input {
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: rgb(233, 233, 233);
}
form textarea {
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  border-radius: 5px;
  background: rgb(233, 233, 233);
  resize: none;
  min-height: 250px;
}
form button {
  margin: 40px 0;
  background: rgb(233, 233, 233);
  color: rgb(105, 105, 105);
  border: 1px solid rgb(209, 209, 209);
}/*# sourceMappingURL=index.css.map */